.create_cakes {
    flex: 4;
}

span {
    font-size: 12px;
    padding: 3px;
    color: cadetblue;
    display: none;
}

input:focus:invalid {
    border: 1px solid cadetblue !important;
}

input:focus:invalid ~ span {
    display: block;
}
